{% extends 'base.html' %}

{% block title %}
    Welkom!
{% endblock %}


{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action = "{%url 'welkom:AddUser'%}" method = "POST">
    {% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name">

    <label for="password">password: </label>
    <input id="password" type="text" name="password">

    <input type="submit" value="OK">
</form>

{% endblock %}