body {
    background-color: rgb(60, 179, 113);
}

a {
    margin-left: 20px;
    text-decoration: none;
    color: green;
    text-align: right;
}
nav {
  text-align: right;
  background-color: lightblue;
}

h1{
  text-align: center;
  background-color: rgb(102, 102, 255);
}

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
}
